<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>注册页面</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="Themesdesign" name="author">

        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/app.min.css" rel="stylesheet" type="text/css">

    </head>

    <body class="bg-primary bg-pattern">
        <div class="home-btn d-none d-sm-block">
            <a href="index.html"><i class="mdi mdi-home-variant h2 text-white"></i></a>
        </div>

        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5">
                            <h2 class="font-size-22 text-white-50 mb-4" style="color:#fff!important">基于机器学习房屋数据分析可视化预测平台</h2>
                            <h5 class="font-size-16 text-width-50 mb-4" style="color: #c5c9cd">
                               技术栈： Flask flask-sqlalchemy Blueprint mysql
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-xl-5 col-sm-8">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="p-2">
                                    <h5 class="mb-5 text-center">注册数据分析预测系统</h5>
                                    <form class="form-horizontal" action="/user/register" method="POST">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-custom mb-4">
                                                    <input type="text" class="form-control" id="username" name="username" required="">
                                                    <label for="username">用户名</label>
                                                </div>

                                                <div class="form-group form-group-custom mb-4">
                                                    <input type="password" class="form-control" id="userpassword"name="password" required="">
                                                    <label for="userpassword">密码</label>
                                                </div>
                                                <div class="form-group form-group-custom mb-4">
                                                    <input type="password" class="form-control" id="checkpassword"name="checkpassword" required="">
                                                    <label for="checkpassword">确认密码</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="term-conditionCheck">
                                                    <label class="custom-control-label font-weight-normal" for="term-conditionCheck">我同意 <a href="#" class="text-primary">条约</a></label>
                                                </div>
                                                <div class="mt-4">
                                                    <button class="btn btn-success btn-block waves-effect waves-light" type="submit">注册</button>
                                                </div>
                                                <div class="mt-4 text-center">
                                                    <a href="login" class="text-muted"><i class="mdi mdi-account-circle mr-1"></i> 已有帐号</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </div>
        <!-- end Account pages -->

        <!-- JAVASCRIPT -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/metisMenu.min.js"></script>
        <script src="/static/js/simplebar.min.js"></script>
        <script src="/static/js/waves.min.js"></script>

        <script src="/static/js/bundle.js"></script>


        <script src="/static/js/app.js"></script>

    </body>
</html>
